.SumaFinal{
    width: 100% !important;
    margin-top: 50px !important;
    margin-right: 100px;
}

.btn-finalizar-compra-container {
   display: flex;
   justify-content: center;
   align-items: center;
}