.modal-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CheckOut{
    width: 100% !important;
    margin-top: 20px !important;
    margin-right: 100px;
}

.checkbox-formas-de-pago{
    display: flex;
    flex-direction: row;
}

.tituloMedio-envio{
    font-weight: bolder;
}

.envio{
    margin-left: 50px;
}

.chek-item-container{
    display: flex;
    flex-direction: row;
}

.chek-item > span {
    font-size: 13px !important;
}



.chek-item-container> svg{
    margin-top: 8px !important;
    margin-right: 5px !important;
}


.btn-finalizar-compra-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: 'absolute'; 
    margin: 200px 400px;
    width: 600px;
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 24;
}

.box-modal-textfield{
    width: 100%;
    padding: 10px;
    margin-top: 10px !important;
}

.btn-finalizar-compra{
    margin-top: 15px !important;
}

.form-group{
    background-color: #fff;
}