.Cart-container{
    background-color: #E7EBF0;
    width: 100%;
    height: auto;
}

/* .CartList-container {
    background-color: #E7EBF0;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
} */

.CartList-container {
    background-color: #E7EBF0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.CartList {
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    padding-bottom: 20px !important;
    margin: 50px;
    height: auto;
}

.SumaFinal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-left: 200px;
}