@font-face {
    font-family: 'Rock It';
    src: url('/src/fonts/Rockit.ttf');
} 

.ItemListContainer{
    display: flex;
    background-color: rgb(41, 38, 38);
    width: 100%;
    height: 500px;
    color: #fff;
    font-family: 'Rock It' ;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}