.CartItem {
    width: 500px;
    height: 210px ;
    margin: 10px ;
    border-radius: 5%
    
}
.CartItem:hover{
    box-shadow: 2px 2px 5px #000;
}

.CartItem-content{
    height: 100%;
}

.CartItem-area {
    display: flex !important;
    flex-direction: row;
}

.CartItem-img-container{
    width: 150px;
    height: 170px;
    margin: 10px;
    overflow: hidden;
    border-radius: 5%
}

.CartItem-img {
    position: relative;
    bottom: 20px;
    width: 100%
}

.CardContent-cartItem{
    width: 300px ;
    height: 170px;
    padding: 6px !important;
}

.titulo-cart-item {
    font-weight: bolder !important;
    font-size: 18px !important;
}



.cantidad-cart-item > p,
.precio-cart-item > p {
    font-weight: bolder !important;
}

.precio-cart-item{
    margin-top: 10px !important;
}


.HighlightOffIcon {
    margin-bottom: 200px;
    margin-left: 10px;
}

