.btn-suma :hover{   
    cursor: pointer;
}

.btn-resta :hover {
    cursor: pointer;
}

.btn-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones-suma-resta {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 40px !important;
    margin-bottom: 10px;
}

.btn-agregar{
    margin-left: 35px !important;
}