.CartList-container {
    background-color: #E7EBF0;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
}

.CartList {
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    padding-bottom: 20px !important;
    height: auto;
    margin: 50px
}